$color-primary: #ff3f3a;
$color-secondary: #ffcf2d;
$color-white: #ffffff;

$color-success: #03cea4;
$color-danger: #ff4242;
$color-warning: #f89828;
$color-info: #5a87fc;
$color-muted: #5f6368;
$color-design: #f52f6e;
$color-dev: #7772f1;

$color-gray-900: #1e212c;
$color-gray-800: #424551;
$color-gray-700: #787a80;
$color-gray-600: #9a9ca5;
$color-gray-500: #b3b7bc;
$color-gray-400: #d7dadd;
$color-gray-300: #e5e8ed;
$color-gray-200: #f4f5f6;
$color-gray-100: #f9f9f9;

$font-primary: "Lato", sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-extrasmall: 10px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-lead: 20px;
$font-size-h6: 16px;
$font-size-h1: 46px;
